<form nz-form [formGroup]="validateForm"  (ngSubmit)="submitForm()" *ngIf="!list">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Mention the Room Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter  Valid Room Name">
        <input nz-input formControlName="name" placeholder="name" />
      </nz-form-control>
    </nz-form-item>
<br>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Floor Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter  Valid Floor Name">
        <input nz-input value="{{floor.name}}" [disabled]="true" placeholder="floorName" />
      </nz-form-control>
    </nz-form-item>
  <br>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12" [nzPull]="8">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
  </form>
  <div *ngIf="list">
    <app-room-list [floorId]="floor.id"></app-room-list>
  </div>