<form nz-form [formGroup]="validateForm"  (ngSubmit)="submitForm()">
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Room Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter  Valid Room Name">
        <input nz-input formControlName="name" placeholder="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="7" nzRequired>Floor Name</nz-form-label>
      <nz-form-control [nzSpan]="12" nzErrorTip="Please Enter  Valid Floor Name">
        <input nz-input formControlName="floorName" placeholder="floorName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
  </form>