

<nz-table #filterTable [nzData]="searchResults" >
  <thead id="resource-table-head">
    <tr>
      <th
        *ngFor="let column of listOfColumns"
        [nzSortOrder]="column.sortOrder"
        [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections"
        [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter"
        [nzFilterFn]="column.filterFn"
      >
        {{ column.name }}
      </th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="filterTable.data">
      <tr>
        <td>{{ data.workOrderCode }}</td>
        <td>{{ data.resourceCode }}</td>
        <td>{{ data.resourceName }}</td>
        <td>{{ data.availability }}</td>
        <td>{{ data.startDate }}</td>
        <td>{{ data.endDate }}</td>
        <td>{{ data.inventoryId }}</td>
        <td><button nz-button [nzSize]="'small'" nzShape="circle" style=" border-color: rgb(224, 228, 234); background-color: #d9534f; border-radius: 5px;"
        id="asset-delete-button" nz-button nz-popconfirm nzPopconfirmTitle="Sure to Delete?"
         (nzOnConfirm)="handleDelete(data.resourceId)" nz-tooltip [nzTooltipTitle]="'Delete Asset'" [nzTooltipColor]="'red'">
         <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'white'"></span>
       </button></td>
      </tr>
    </ng-template>
  </tbody>
</nz-table>
