<div style="display: flex; margin-left: 20px; margin-bottom: -50px;">
  <div>
    <span
      ><img
        src="../../../assets/KnowledgeRepo.png"
        width="35px"
        height="35px"
        style="margin-top: 14px"
    /></span>
  </div>
  <div style="margin-left: 20px">
    <span>
      <h2
        style="
          margin-top: -1px;
          color: rgba(38, 38, 202, 0.733);
          font-size: 20pt;
          font-weight: 700;
          margin-left: -34%;
        "
      >
        Repositories
      </h2>
      <h4 style="margin-top: -17px; margin-right: 30px">
        This is the Repository List page!
      </h4></span
    >
  </div>
</div>


  <!-- <input nz-input id="search-bar" type="text" placeholder="Search Documents" /> -->
  <ng-template #suffixIconSearch>
  </ng-template>
  <nz-input-group id="search-bar" [nzSuffix]="suffixIconSearch" style="width: 400px;">
    <nz-select [ngModel]="'search Document'"  style="width: 200px;"(ngModelChange)="selectChange($event)">
    
      <nz-option [nzLabel]="'All'" [nzValue]="'all'"></nz-option>
      <nz-option [nzLabel]="'By Document Name'" [nzValue]="'name'" ></nz-option>
      <nz-option [nzLabel]="'By Asset Name'" [nzValue]="'assetname'" ></nz-option>

      
    </nz-select>
    <div *ngIf="options=='all'">
      <input nz-input type="Text" placeholder="Search Document" style="width: 200px;" (change)="filterData1(options, $event)" />
    </div>
    <div *ngIf="options=='name'">
      <input nz-input type="Text" placeholder="Search Document" style="width: 200px;" (change)="filterData1(options,$event)" />
    </div>
    <div *ngIf="options=='assetname'">
      <input nz-input type="Text" placeholder="Search Document" style="width: 200px;" (change)="filterData1(options,$event)" />
    </div>

  </nz-input-group>
  <button
    id="create-button"
    nz-button
    nzType="primary"
    (click)="showCreate()"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
  </button>
  <nz-modal
    [nzStyle]="{ top: '20px' , width:'40%'}" [(nzVisible)]="isVisible" nzTitle="KnowledgeRepo-list / {{nav}}"
    nzCentered
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">

    <ng-container *nzModalContent>
      <app-create-repo></app-create-repo>
    </ng-container>

    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Ok</button>
    </ng-template>
  </nz-modal>

  <nz-table #filterTable [nzData]="searchResults">
    <thead>
      <tr>
        <th
        *ngFor="let column of repoColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections" class="for-th"
        >
          {{ column.name }}
        </th>
        <th class="for-th">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.asset_name }}</td>
        <td>{{ data.user.name }}</td>
        <td>{{ data.uploaded_time | date : "dd/MM/yyyy hh:ss a" }}</td>
        <td id="btn-repo">
        <button id="create-download-button" nz-button nz-popconfirm nzPopconfirmTitle="Proceed to download?"
          (nzOnConfirm)="handleDownload(data.name)" nz-tooltip [nzTooltipTitle]="'Download Document'"
          [nzTooltipColor]="'green'">
          <span nz-icon nzType="cloud-download" nzTheme="outline" [nzTwotoneColor]="'green'"></span>
          </button>
        <button id="create-download-button" nz-button nz-popconfirm nzPopconfirmTitle="Sure to Delete?"
        (nzOnConfirm)="handleDelete(data.id)" nz-tooltip [nzTooltipTitle]="'Delete Repo'" [nzTooltipColor]="'red'">
        <span nz-icon nzType="delete" nzTheme="outline" [nzTwotoneColor]="'red'"></span>
        </button>
        
          </td>

      </tr>
    </tbody>
  </nz-table>
