<span
  style="
    font-family: math;
    font-size: xx-large;
    font-weight: 900;
    margin-left: -55%;
  "
  >Repositories</span
>


  <input nz-input id="search-bar" type="text" placeholder="Search Documents" />
  <button
    id="create-button"
    nz-button
    nzType="primary"
    (click)="showCreate()"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
  </button>
  <nz-modal
    [nzStyle]="{ top: '20px' , width:'40%'}" [(nzVisible)]="isVisible" nzTitle="Create a Repositories"
    nzCentered
    [nzFooter]="modalFooter"
    (nzOnCancel)="handleCancel()"
    (nzOnOk)="handleOk()">

    <ng-container *nzModalContent>
      <app-create-repo></app-create-repo>
    </ng-container>

    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
      <button nz-button nzType="primary" (click)="handleOk()" [nzLoading]="isConfirmLoading">Ok</button>
    </ng-template>
  </nz-modal>

  <nz-table #filterTable [nzData]="searchResults">
    <thead>
      <tr>
        <th
        *ngFor="let column of repoColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections" class="for-th"
        >
          {{ column.name }}
        </th>
        <th class="for-th">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of filterTable.data">
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.asset_name }}</td>
        <td>{{ data.user.name }}</td>
        <td>{{ data.uploaded_time | date : "dd/MM/yyyy hh:ss a" }}</td>
        <td id="btn-repo">
        <button id="create-download-button" nz-button nz-popconfirm nzPopconfirmTitle="Proceed to download?"
          (nzOnConfirm)="handleDownload(data.name)" nz-tooltip [nzTooltipTitle]="'Download Document'"
          [nzTooltipColor]="'green'">
          <span nz-icon nzType="cloud-download" nzTheme="outline" [nzTwotoneColor]="'green'"></span>
          </button>
        <button id="create-download-button" nz-button nz-popconfirm nzPopconfirmTitle="Sure to Delete?"
        (nzOnConfirm)="handleDelete(data.id)" nz-tooltip [nzTooltipTitle]="'Delete Repo'" [nzTooltipColor]="'red'">
        <span nz-icon nzType="delete" nzTheme="outline" [nzTwotoneColor]="'red'"></span>
        </button>
        
          </td>

      </tr>
    </tbody>
  </nz-table>
