<nz-layout>
  <nz-sider nzCollapsible nzWidth="250px">
    <ul nz-menu nzTheme="dark" nzMode="inline">
      <li id="logo-menu-item" nz-menu-item>
        <span id="header-logo">
          <img src="../../../assets/staunch-logo.jpg"
        /></span>
      </li>
      <li nz-menu-item style="height: 50px">
        <span nz-icon>
          <svg
            height="35px"
            width="35px"
            viewBox="0 0 24 24"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            stroke="#e5d7d7"
          >
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g
              id="SVGRepo_tracerCarrier"
              stroke-linecap="round"
              stroke-linejoin="round"
            ></g>
            <g id="SVGRepo_iconCarrier">
              <path
                opacity="0.4"
                d="M22 7.81V16.19C22 19 20.71 20.93 18.44 21.66C17.78 21.89 17.02 22 16.19 22H7.81C6.98 22 6.22 21.89 5.56 21.66C3.29 20.93 2 19 2 16.19V7.81C2 4.17 4.17 2 7.81 2H16.19C19.83 2 22 4.17 22 7.81Z"
                fill="#aeb4bc"
              ></path>
              <path
                d="M18.4406 21.66C17.7806 21.89 17.0206 22 16.1906 22H7.81055C6.98055 22 6.22055 21.89 5.56055 21.66C5.91055 19.02 8.67055 16.97 12.0005 16.97C15.3305 16.97 18.0906 19.02 18.4406 21.66Z"
                fill="#aeb4bc"
              ></path>
              <path
                d="M15.5799 11.58C15.5799 13.56 13.9799 15.17 11.9999 15.17C10.0199 15.17 8.41992 13.56 8.41992 11.58C8.41992 9.60002 10.0199 8 11.9999 8C13.9799 8 15.5799 9.60002 15.5799 11.58Z"
                fill="#aeb4bc"
              ></path>
            </g>
          </svg>
        </span>
        <span id="user-title">{{ userData.sub }}</span>
        <span id="user-designation">{{ userData.designation }}</span>
      </li>
      <li nz-submenu nzTitle="Queues" nzIcon="unordered-list">
        <ul>
          <li nz-menu-item routerLink="/raise-issue">
            <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
            <span> Raise a Request</span>
          </li>
          <li nz-menu-item routerLink="/resourceplanner">
            <span nz-icon nzType="plus-circle" nzTheme="outline"></span>
            <span class="glow"> Resource Management</span>
          </li>
          <li nz-menu-item routerLink="/tickets">
            <span nz-icon nzType="node-collapse" nzTheme="outline"></span>
            <span> Queues</span>
          </li>
          <li nz-menu-group nzTitle="Tickets">
            <ul>
              <li nz-menu-item routerLink="/tickets/open">
                <span nz-icon nzType="snippets" nzTheme="outline"></span>
                <span>Open Tickets</span>
              </li>
              <li nz-menu-item routerLink="/tickets/self">
                <span nz-icon nzType="user" nzTheme="outline"></span>
                <span>My Tickets</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Library" disabled nzIcon="desktop">
        <ul>
          <li nz-menu-item>
            <a routerLink="/knowledge-repos">
              <span nz-icon nzType="file-protect" nzTheme="outline"></span>
              <span>Knowledge Repo</span></a
            >
          </li>
          <li nz-menu-group nzTitle="Reports">
            <ul>
              <li nz-menu-item routerLink="/reports">
                <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
                <span>Average Time Taken</span>
              </li>
              <li nz-menu-item routerLink="/reports">
                <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
                <span>Requests deflected</span>
              </li>
              <li nz-menu-item routerLink="/reports">
                <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
                <span>Requests resolved</span>
              </li>
              <li nz-menu-item routerLink="/reports">
                <span nz-icon nzType="bar-chart" nzTheme="outline"></span>
                <span>Average Amount Spent</span>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <app-navigator></app-navigator>
    </nz-header>
    <nz-content>
      <nz-breadcrumb>
        <div id="qoutes">
          " The best customer service is even if the customer doesn’t need to
          call you, <br />
          doesn’t need to talk to you. It just works "
        </div>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>

    <nz-footer
      >All rights reserved @2023 Staunch Info Solutions Pvt. Ltd.</nz-footer
    >
  </nz-layout>
</nz-layout>
