<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="name" nzRequired
      nzTooltipTitle="Combination of your First and Last Name (e.g. : Tony Stark)">
      <span style="color: #052df7;">Fullname</span> 
    </nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="24" nzErrorTip="Please Enter your full Name!">
      <input nz-input id="name" formControlName="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="email"><span style="color: #052df7;">Email</span> </nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
      <input nz-input formControlName="email" id="email" />
    </nz-form-control>
  </nz-form-item>
  
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="username"><span style="color: #052df7;">Username</span> </nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="24" nzErrorTip="Please enter the username">
      <input nz-input formControlName="username" id="username" />
    </nz-form-control>
  </nz-form-item>

    <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="phoneNumber"> <span style="color: #052df7;">PhoneNumber</span> </nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="24" [nzValidateStatus]="validateForm.controls['phoneNumber']"
      nzErrorTip="Please Enter your phone number!">
      
        <input nz-input formControlName="phoneNumber" id="email" />
     
    </nz-form-control>
  </nz-form-item>
  
  <!-- <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="department">Department</nz-form-label>
    <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please enter the Department">
      <input nz-input formControlName="department" id="department" />
    </nz-form-control>
  </nz-form-item> -->

  <nz-form-item>
    <nz-form-label style="color:  #052df7;" [nzSm]="8" [nzXs]="24" nzRequired nzFor="department">
      <span style="color: #052df7;">Department</span>
    </nz-form-label>
    <nz-form-control nzErrorTip="Please Choose the department Name" id="department">
      <nz-select nz-input formControlName="department"  nzShowSearch nzAllowClear
        nzPlaceHolder="Select an department">
        <nz-option *ngFor="let department of departList" [nzLabel]="department"
          [nzValue]="department">{{department}}</nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label style="color: #052df7;"  [nzSm]="8" [nzXs]="24" nzRequired nzFor="designation">
      <span style="color: #052df7;">Designation</span>
    </nz-form-label>
    <nz-form-control nzErrorTip="Please Choose the designation">
      <nz-select nz-input formControlName="designation" id="name" nzShowSearch nzAllowClear
        nzPlaceHolder="Select an designation">
        <nz-option *ngFor="let designation of desList" [nzLabel]="designation"
          [nzValue]="designation">{{designation}}</nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label style="color: #052df7;" [nzSm]="8" [nzXs]="24" nzRequired nzFor="Roles">
      <span style="color: #052df7;">roles</span>
    </nz-form-label>
    <nz-form-control nzErrorTip="Please Choose the role">
      <nz-select nz-input formControlName="roles" id="name" nzShowSearch nzAllowClear
        nzPlaceHolder="Select a role">
        <nz-option *ngFor="let roles of rolesList" [nzLabel]="roles[0]"
          [nzValue]="roles">{{roles}}</nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  
  
  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="address">     <span style="color: #3253dc;">Address</span></nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="24" nzErrorTip="please enter the address!">
 
      <input nz-input formControlName="address" id="name" />
    </nz-form-control>
  </nz-form-item><nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="location"><span style="color: #052df7;">Location</span> </nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="24" nzErrorTip="please enter the location!">
      <input nz-input formControlName="location" id="name" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label style="color: #052df7;"  [nzSm]="8" [nzXs]="24" nzRequired nzFor="usertype">
      <span style="color:  #052df7;">Usertype</span>
    </nz-form-label>
    <nz-form-control nzErrorTip="Please Choose the Usertype">
      <nz-select nz-input formControlName="usertype" id="name" nzShowSearch nzAllowClear
        nzPlaceHolder="Select an usertype">
        <nz-option *ngFor="let usertype of userList" [nzLabel]="usertype"
          [nzValue]="usertype">{{usertype}}</nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>


  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="password" nzRequired><span style="color: #052df7;">password</span> </nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="24" nzErrorTip="Please input your password!">
      <input nz-input type="password" id="name" formControlName="password"
        (ngModelChange)="updateConfirmValidator()" />
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSm]="8" [nzXs]="24" nzFor="checkPassword" nzRequired><span style="color: #052df7;">CheckPassword</span> </nz-form-label>
    <nz-form-control [nzSm]="40" [nzXs]="24" [nzErrorTip]="errorTpl">
      <input nz-input type="password" formControlName="checkPassword" id="name" />
      <ng-template #errorTpl let-control>
        <ng-container *ngIf="control.hasError('required')">Please confirm your password!</ng-container>
        <ng-container *ngIf="control.hasError('confirm')">
          Two passwords that you enter is not Matching!
        </ng-container>
      </ng-template>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label style="color: #052df7;"  [nzSm]="8" [nzXs]="24"   nzRequired nzFor="resourceplanner">
      <span style="color: #052df7;">Enable Resourceplanner</span>
    </nz-form-label>
    <nz-form-control nzErrorTip="Please Choose the resourceplanner">
      <nz-select nz-input formControlName="resourceplanner" id="name" nzShowSearch nzAllowClear
        nzPlaceHolder="Select a resourceplanner">
        <nz-option *ngFor="let resourceplanner of rpList" [nzLabel]="resourceplanner"
          [nzValue]="resourceplanner">{{resourceplanner}}</nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6" nzErrorTip="Please Agree to terms and conditions!">
      <label nz-checkbox formControlName="agree">
        <span>
          I agree to the terms and conditions
        </span>
      </label>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item nz-row class="register-area">
    <nz-form-control [nzSpan]="14" [nzOffset]="6">
      <button nz-button nzType="primary">Register</button>
    </nz-form-control>
  </nz-form-item>

</form>