<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" [nzLayout]="'inline'" style="width: 180%;" *ngIf="!loc">

  <div nz-col [nzSpan]="12">
    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="addressLine1" nzRequired><span style="color: rgb(0, 102, 255)">Facility Code</span> </nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The ">
        <input value="{{facCode.facilityCode}}" id="addressLine1" [disabled]="true" nz-input />
      </nz-form-control>
    </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="addressLine1" nzRequired><span style="color: rgb(0, 102, 255)">Mention the Location Name</span></nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The Location Name">
        <input formControlName="name" id="addressLine1" nz-input />
      </nz-form-control>
    </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="addressLine1" nzRequired><span style="color: rgb(0, 102, 255)">Mention the Description</span></nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The Location Description!">
        <input formControlName="description" id="addressLine1" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="addressLine1" nzRequired><span style="color: rgb(0, 102, 255)">Mention the Address Line 1</span></nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The AddressLine1">
        <input formControlName="addressLine1" id="addressLine1" nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="addressLine2" nzRequired><span style="color: rgb(0, 102, 255)">Mention the Address Line 2</span></nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The Address Line 2">
        <input formControlName="addressLine2" id="addressLine2" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="addressLine3" nzRequired><span style="color: rgb(0, 102, 255)">Mention the Address Line 3</span></nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The Address Line 3">
        <input formControlName="addressLine3" id="addressLine3" nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="city" nzRequired><span style="color: rgb(0, 102, 255)">Mention the City</span></nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The City">
        <input formControlName="city" id="city" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="state" nzRequired><span style="color: rgb(0, 102, 255)">Mention the State</span></nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The State">
        <input formControlName="state" id="state" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="postalCode" nzRequired><span style="color: rgb(0, 102, 255)">Mention the Postal Code</span></nz-form-label>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The Postal Code">
        <input formControlName="postalCode" id="postalCode" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-control [nzSm]="20" [nzXs]="24" nzErrorTip="Please Enter The Country">
        <input formControlName="country" id="country" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item >
      <nz-form-control [nzPull]="12">
        <span style="margin-left: 68%;"></span>
        <button nz-button nzType="primary" >Submit</button>  
      </nz-form-control>
    
    </nz-form-item>
  </div>


</form>


  <div *ngIf="loc">
    <app-location-list [locId] = "locId"></app-location-list>
  </div>








