
        <nz-table #nestedTable [nzData]="searchResults" [nzPageSize]="10" [nzShowPagination]="false">
            <thead>
                <tr>
                    <th></th>
                    <th *ngFor="let column of floorColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
                        [nzSortDirections]="column.sortDirections">
                        {{ column.name }}
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="nestedTable.data">
                    <tr>
                        <td [(nzExpand)]="data.expand"></td>
                        <td>{{ data.id }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ buildingId }}</td>
                        <td>
                          
                            <button nz-button nzType="primary" (click)="forLocation($event, data)" [nzSize]="size" nzShape="circle"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
                            <button nz-button nzType="primary" (click)="forLoc($event, data)" [nzSize]="size" nzShape="circle" nz-tooltip [nzTooltipTitle]="'This is Room'" [nzTooltipColor]="'green'"><span nz-icon nzType="plus" nzTheme="outline"></span></button>
                            <!-- <button nz-button>
                                <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'red'" nz-tooltip
                                    [nzTooltipTitle]="'Delete Floor'" [nzTooltipColor]="'red'" nz-popconfirm
                                    nzPopconfirmTitle="Proceed to update?"
                                    (nzOnConfirm)="handleDeleteLocation(data.id)">
                                </span>
                            </button> -->
        </tr>
        <tr [nzExpand]="data.expand">
            <div *ngIf="data.expand">
                <app-room-list [floorId]="data.id"></app-room-list>
                <app-area-list [floorId]="data.id"></app-area-list>
            </div>
        </tr>
        </ng-template>
        </tbody>
        </nz-table>



<div *ngIf="loc">
<app-room-create [floor] = "item"></app-room-create>
</div>
<div *ngIf="loc2">
    <app-area-create [floor] = "item"></app-area-create>
</div>