<div style="display: flex; margin-left: 20px; margin-bottom: -50px;">
  <div>
    <span
      ><img
        src="../../../assets/Workorder.png"
        width="45px"
        height="45px"
        style="margin-top: 11px"
    /></span>
  </div>
  <div style="margin-left: 20px">
    <span>
      <h2
        style="
          margin-top: -1px;
          color: rgba(38, 38, 202, 0.733);
          font-size: 20pt;
          font-weight: 700;
          margin-left: -39%;
        "
      >
        WorkOrder
      </h2>
      <h4 style="margin-top: -16px; margin-right: 20px; margin-bottom: 5%;">
        This is the WorkOrder List page!
      </h4></span
    >
  </div>
</div>

<!-- <input nz-input id="search-bar" type="text" (change)="filterData($event)" placeholder="Search WorkOrders" /> -->
<!-- <button nz-button nzType="primary" id="create-workorder-button" ><span nz-icon nzType="plus" nzTheme="outline"></span>Create WorkOrder</button> -->
<ng-template #suffixIconSearch>
</ng-template>
<nz-input-group id="search-bar" [nzSuffix]="suffixIconSearch" style="width: 400px;"  >
  <nz-select [ngModel]="'search Workorder'"  style="width: 200px;"(ngModelChange)="selectChange($event)">
  
    <nz-option [nzLabel]="'All'" [nzValue]="'all'"></nz-option>
    <nz-option [nzLabel]="'By Orderno'" [nzValue]="'orderno'" ></nz-option>
    <nz-option [nzLabel]="'By Status'" [nzValue]="'status'" ></nz-option>
    <nz-option [nzLabel]="'By Cost'" [nzValue]="'cost'" ></nz-option>
    
  </nz-select>
  <div *ngIf="options=='all'">
    <input nz-input type="Text" placeholder="search Workorder" style="width: 200px;" (change)="filterData1(options, $event)" />
  </div>
  <div *ngIf="options=='orderno'">
    <input nz-input type="Text" placeholder="search Workorder" style="width: 200px;" (change)="filterData1(options,$event)" />
  </div>
  <div *ngIf="options=='status'">
    <input nz-input type="Text" placeholder="search Workorder" style="width: 200px;" (change)="filterData1(options,$event)" />
  </div>
  <div *ngIf="options=='cost'">
    <input nz-input type="Text" placeholder="search Workorder" style="width: 200px;" (change)="filterData1(options,$event)" />
  </div>
</nz-input-group>
<nz-table #editRowTable #filterTable nzBordered [nzData]="searchResults" >
  <thead id="myworkorder-table-head">
    <tr>
      <th></th>
      <th></th>
      <th *ngFor="let column of listOfColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
        [nzSortDirections]="column.sortDirections" [nzFilterMultiple]="column.filterMultiple"
        [nzFilters]="column.listOfFilter" [nzFilterFn]="column.filterFn">
        {{ column.name }}
      </th><th>Action</th> 
             
    </tr>    
  </thead>
  <tbody>
    <ng-template ngFor let-data [ngForOf]="filterTable.data">
      <tr>
        <td><input type="checkbox" (change)="onCheck(data.orderNo)" /></td>
        <td [(nzExpand)]="data.expand"></td>
        <td>{{ data.orderNo }}</td>
        <td>{{ data.status }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.emailId }}</td>
        <td>{{ data.phoneNumber }}</td>
        <td>
         <button nz-button [nzSize]="size"  nzShape="circle" style=" border-color: rgb(224, 228, 234); background-color: #5cb85c; border-radius: 5px;" (click)="showModal(data)"><span nz-icon nzType="edit" [nzTwotoneColor]="'white'"  nzTheme="twotone" nz-tooltip
            [nzTooltipTitle]="'Update WorkOrder'" [nzTooltipColor]="'green'" nzIconfont="create-sharp"
            ></span></button>

          <button nz-button [nzSize]="size" nzShape="circle" style=" border-color: rgb(224, 228, 234); background-color: #d9534f; border-radius: 5px;"><span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'white'" nz-tooltip
            [nzTooltipTitle]="'Delete WorkOrder'" [nzTooltipColor]="'red'" nz-popconfirm
            nzPopconfirmTitle="Proceed to Delete"
            (nzOnConfirm)="handleDeleteWo(data.orderNo)"></span></button>

          <button nz-button [nzSize]="size"  nzShape="circle" style=" border-color: rgb(224, 228, 234); background-color: #f0ad4e; border-radius: 5px;"    (click)="viewPage(data.orderNo)"><span nz-icon nzType="eye" nzTheme="twotone" nzTwotoneColor="white" ></span></button>
        </td>
      </tr>
       <tr [nzExpand]="data.expand">
        <nz-table #innerTable [nzData]="searchResults" nzSize="small" [nzShowPagination]="false">
          <thead>
            <tr>
              <th *ngFor="let column of innerColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
                [nzSortDirections]="column.sortDirections">
                {{ column.name }}
              </th>
            </tr>
          </thead>
<tbody>
    <tr>
      <td>{{ data.description }}</td>
      <td>{{ data.workSubject }}</td>
      <td>{{ data.taskDetails }}</td>
      <td>{{ data.workOrderCost }}</td>
      <td>{{ data.date }}</td>
    </tr>
  </tbody>
</nz-table>
</tr>
</ng-template>
</tbody>
</nz-table>

<nz-modal [nzVisible]="visible" [nzStyle]="{ top: '20px', width: '70%' }" nzTitle="View Work Order"
            nzCentered (nzOnCancel)="handleCreateTicketOk()" (nzOnOk)="handleCreateTicketOk()" >
              <app-view-workorder *nzModalContent [workOrderId]="viewId" (close)="closeView()"></app-view-workorder>
            </nz-modal>
            <nz-modal [(nzVisible)]="isVisible"  [nzStyle]="{ top: '20px', width: '75%' }"  nzTitle="Update Workorder Status" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
              <ng-container *nzModalContent>
                <app-create-workorder [workOrderData]="selectedWo"></app-create-workorder>
              </ng-container>
            </nz-modal>
