.login-form {
  margin: 5% 35% 0% 35%;
  padding: 3% 3%;
  text-align: center;
  background-color: white;
  border-radius: 33px;
  }

  .login-form-margin {
    margin-bottom: 16px;
  }

  .login-form-button {
    width: 100%;
  }

  #login-title{
    font-weight: 600;
  }

  #login-page{
    align-items: center;
    text-align: center;
    font-weight: 600;
    padding: 5%;
    background-color: rgb(212, 216, 218);
    height: 100%;
  }

  #page-title{
    font-size: xxx-large;
    font-family: math;
  }

