<div id="create-resource-body">
  <div id="create-resource-form">
    <h2>Add Resource Planner</h2>
    <div class="align">
      <form class nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24"> Mention the Workorder Code
</nz-form-label>
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please Enter the  WorkOrder Id"
          >
            <input
              style="border-radius: 10px"
              nz-input
              id="resource-name"
              placeholder="Allocate Resource"
              [disabled]="true"
              value="{{ workOrderCode }}"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="resourceCode">
            Mention the Resource Code?</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please Enter the Resource Id"
          >
            <input
              style="border-radius: 10px"
              nz-input
              formControlName="resourceCode"
              id="resource-name"
              placeholder="Resource Code"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">
            Mention the Resource Name?</nz-form-label
          >
          <nz-form-control
            [nzSm]="14"
            [nzXs]="24"
            nzErrorTip="Please Enter the Resource Name"
          >
            <input
              style="border-radius: 10px"
              nz-input
              formControlName="resourceName"
              id="resource-name"
              placeholder="Resource Name"
            />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            <span style="border-radius: 10px">Which type this resource belongs to?
            </span>
          </nz-form-label>
          <nz-table #filterTable [nzData]="inventoryItem" style="padding-top: 2%;padding-left: 10%;">
            <thead id="asset-table-head">
              <tr>
                <th>Select</th>
                <th *ngFor="let column of inventoryColumns">
                  {{ column.name }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of filterTable.data">
                <td>
                  <input
                  type="checkbox"
                    [ngModel]="a"
                    (change)="getId(data.id)"
                  />
                </td>
                <td>{{ data.id }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.quantity }}</td>
              </tr>
            </tbody>
          </nz-table>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24">
            Schedule the Resource
          </nz-form-label>
          <nz-form-control nzErrorTip="Please Enter the Resource Schedule">
            <nz-date-picker style="right: 230px" formControlName="startDate" placeholder="Start Date" [(ngModel)]="startDate"
            [nzDisabledDate]="disabledDate">
          </nz-date-picker>
          <nz-date-picker style="right: 200px" formControlName="endDate" placeholder="End Date" 
            [nzDisabledDate]="disabledEndDate"></nz-date-picker>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
          style="width: 150px"
          nzRequired
          nzFor="Resource Availability"
          [nzSm]="6"
          [nzXs]="24"
        >
          <span style="border-radius: 10px">Mention the Availability of the Resource?</span>
        </nz-form-label>
        <nz-form-control
          nzErrorTip="Please Select a Resource Availability"
          [nzSm]="14"
          [nzXs]="24"
        >
        <input
        style="border-radius: 10px"
        nz-input
        id="resource-name"
        placeholder="Allocate Resource"
        value="Yes"
        [disabled]="true"
      />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item nz-row class="register-area">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary" id="create-button" (click)="handleReset()">
              SAVE AND ADD
            </button>
            <button
              style="right: -10px"
              nz-button
              nzType="primary"
              id="create-button"
              >
              SAVE AND CLOSE
            </button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  </div>
</div>
