<div>
  <div style="display: flex; margin-left: 90px; margin-top: -5px">
    <div>
      <span
        ><img
          src="../../../assets/Location.png"
          width="45px"
          height="45px"
          style="margin-top: 10px"
      /></span>
    </div>
    <div style="margin-left: 20px">
      <span>
        <h2
          style="
            margin-top: -1px;
            color: rgba(38, 38, 202, 0.733);
            font-size: 20pt;
            font-weight: 700;
          "
        >
          {{ facility }} a Facility
        </h2>
        <h4 style="margin-top: -17px; margin-left: -21px; margin-bottom: -15%">
          {{ facility1 }} Facility!
        </h4></span
      >
    </div>
  </div>
  <form
    nz-form
    [formGroup]="validateForm"
    (ngSubmit)="submitForm()"
    [nzLayout]="'vertical'"
  >
    <nz-form-item>
      <nz-form-label
        [nzSm]="15"
        [nzXs]="24"
        nzFor="facilityCode"
        nzRequired
        nzTooltipTitle="Facility code should be unique!"
      >
        <span style="color: #3253dc">Mention the Facility Code </span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please enter a valid three character string for the facility Code"
      >
        <input nz-input id="facilityCode" formControlName="facilityCode" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="15" [nzXs]="24" nzRequired nzFor="facilityName"
        ><span style="color: #3253dc"
          >Mention the Facility Name</span
        ></nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please Enter Facility Name!"
      >
        <input nz-input formControlName="facilityName" id="facilityName" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="15" [nzXs]="24" nzRequired nzFor="facilityType"
        ><span style="color: #3253dc"
          >Mention the Facility Type</span
        ></nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please enter the facilityType!"
      >
        <nz-select
          nz-input
          formControlName="facilityType"
          id="facilityType"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a facilityType"
          style="text-align: left"
        >
          <nz-option
            *ngFor="let facilityType of facilityType"
            [nzLabel]="facilityType.name"
            [nzValue]="facilityType.name"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="15" [nzXs]="24" nzFor="facilitySource" nzRequired
        ><span style="color: #3253dc">Mention the Facility Source</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input your facilitySource!"
      >
        <input nz-input id="facilitySource" formControlName="facilitySource" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="15" [nzXs]="24" nzFor="inactiveDate"
        ><span style="color: #3253dc">Enter the Inactive Date</span>
      </nz-form-label>
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please input the inactiveDate for your Facility!"
      >
        <input nz-input formControlName="inactiveDate" id="inactiveDate" />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="12" nzPull="1">
        <button nz-button nzType="primary">Register</button>

        <!-- <nz-form-label [nzSm]="15" [nzXs]="24" nzFor="Location" nzRequired 
      ><span style="color: #3253dc">Add Location</span></nz-form-label
    > -->
        <span style="margin-left: 15px">
          <button
            nz-button
            nzType="primary"
            [nzSize]="size"
            nzShape="circle"
            (click)="forLocation($event)"
            style="margin-top: 5px"
            [disabled]="addLoc"
          >
            <span nz-icon nzType="plus"></span>
          </button>
        </span>

        <span style="color: #3253dc; margin-left: 15px">Add Location</span>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item> </nz-form-item>

    <!-- <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="dagRunId"
        >DAG Run ID</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please Enter The FAC Location Code!"
      >
        <input formControlName="dagRunId" id="dagRunId" nz-input />
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="taskIdJobId"
        >Task & Job ID</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please Enter The FAC Location Code!"
      >
        <input formControlName="taskIdJobId" id="taskIdJobId" nz-input />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="crossCodeFlag"
        >Cross Code Flag</nz-form-label
      >
      <nz-form-control
        [nzSm]="14"
        [nzXs]="24"
        nzErrorTip="Please Enter The FAC Location Code!"
      >
        <nz-select nz-input formControlName="crossCodeFlag" id="crossCodeFlag">
          <nz-option [nzLabel]="'True'" [nzValue]="'true'"></nz-option>
          <nz-option [nzLabel]="'False'" [nzValue]="'false'"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item> -->
  </form>
  <div *ngIf="loc" style="margin: 60px">
    <app-location [facCode]="facCode"></app-location>
  </div>
</div>
