<div id="create-asset-body" >
  <div id="create-asset-form">
    <h2 *ngIf="!isUpdateComponent">Register Asset</h2>
    <!-- <ng-component #updateTitle><h2 >Create Asset using Data</h2></ng-component> -->

    <form class nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">
          <span style="color: rgb(0, 102, 255)">Asset Name</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter  Valid Asset Name"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="name"
            id="asset-name"
            placeholder="Asset Name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">
          <span style="color: rgb(0, 102, 255)">Asset Code</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Asset Code"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="code"
            id="asset-name"
            placeholder="Asset Code"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="serialNo">
          <span style="color: rgb(0, 102, 255)">Serial No</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Serial No"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="serialNo"
            id="asset-name"
            placeholder="Serial No"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="description" nzRequired
          ><span style="color: rgb(0, 102, 255)">Description</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter the Description!"
        >
          <input
            nz-input
            id="description"
            formControlName="description"
            placeholder="Description"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="facilityCode" nzRequired
          ><span style="color: rgb(0, 102, 255)"
            >Facility Name</span
          ></nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Select Valid Facility Name"
        >
          <nz-select
            nz-input
            formControlName="facilityCode"
            id="facilityCode"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Facility"
          >
            <nz-option
              *ngFor="let facility of facilities"
              [nzLabel]="facility.facilityName"
              [nzValue]="facility.facilityCode"
              >{{ facility }}</nz-option
            >
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item >
        <nz-form-label [nzSm]="6" [nzXs]="24">
          <span style="color: rgb(0, 102, 255)">Location</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Location"
        >
        <nz-select
          id="location"
          formControlName="location"
          nzShowSearch
          nzAllowClear
          nzPlaceHolder="Select a Location"
         [ngModel] = "''"
          (ngModelChange)="getAllBuilding($event)" 
  
         
        >
          <nz-option
            *ngFor="let location of locations"
            [nzLabel]="location.name"
            [nzValue]="location.id"
            >{{ location }}</nz-option
          >
        </nz-select>

      
       
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="building">
          <span style="color: rgb(0, 102, 255)">Building</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Building"
        >
        <nz-select
        nz-input
        formControlName="building"
        id="building"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a building"
        [ngModel] = "''"
        (ngModelChange)="getAllFloor($event)"
      >
        <nz-option
          *ngFor="let building of buildings"
          [nzLabel]="building.name"
          [nzValue]="building.id"
          >{{ building }}</nz-option
        >
      </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="location">
          <span style="color: rgb(0, 102, 255)">Floors</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Floor"
        >
        <nz-select
        nz-input
        formControlName="floor"
        id="floor"
        nzShowSearch
        nzAllowClear
        nzPlaceHolder="Select a floor"
        [ngModel]="' '"
        (ngModelChange)="getAllRoomAndArea($event)"
      >
        <nz-option
          *ngFor="let floor of floors"
          [nzLabel]="floor.name"
          [nzValue]="floor.id"
          >{{ floor }}</nz-option
        >
      </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="location">
          <span style="color: rgb(0, 102, 255)">Area or Room</span>
        </nz-form-label>
        <nz-form-control [nzSm]="5" [nzXs]="24">
          <nz-input-group nzCompact>
            <nz-select [ngModel]="'Sign Up'"
            formControlName="raname" [ngModel]="' '" (ngModelChange)="getOptions($event)">
              <nz-option [nzLabel]="'Area'" [nzValue]="'Area'"></nz-option>
              <nz-option [nzLabel]="'Room'" [nzValue]="'Room'"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
        <nz-form-control
        [nzSm]="9"
        [nzXs]="24"
        nzErrorTip="select the area/room"
      >
      <nz-select
      nz-input
      formControlName="arname"
      id="floor"
      nzShowSearch
      nzAllowClear
      nzPlaceHolder="Select a Area/Room"
    >
      <nz-option
        *ngFor="let arname of options"
        [nzLabel]="arname.name"
        [nzValue]="arname.id"
        >{{ arname }}</nz-option
      >
    </nz-select>
      </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          style="color: #3253dc"
          nzRequired
          nzFor="category"
        >
          <span style="color: #3253dc">Category</span></nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Select a Category"
        >
          <nz-select
            nz-input
            formControlName="category"
            id="category"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Category"
          >
            <nz-option
              *ngFor="let category of categories"
              [nzLabel]="category.name + ' (' + category.value + ')'"
              [nzValue]="category.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          style="color: #3253dc"
          nzRequired
          nzFor="department"
        >
          <span style="color: #3253dc">Asset department</span></nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Select a Department"
        >
          <nz-select
            nz-input
            formControlName="department"
            id="department"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Department"
          >
            <nz-option
              *ngFor="let Department of departments"
              [nzLabel]="Department.name"
              [nzValue]="Department.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="6"
          [nzXs]="24"
          style="color: #3253dc"
          nzRequired
          nzFor="supplier"
        >
          <span style="color: #3253dc">Supplier</span></nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Select a Supplier"
        >
          <nz-select
            nz-input
            formControlName="supplier"
            id="supplier"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Supplier"
          >
            <nz-option
              *ngFor="let Supplier of suppliers"
              [nzLabel]="Supplier.name"
              [nzValue]="Supplier.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="subAsset"
          ><span style="color: rgb(0, 102, 255)">Sub Asset of</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter the Sub Asset"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="subAsset"
            id="asset-subasset"
            placeholder="Sub Asset of"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="system"
          ><span style="color: rgb(0, 102, 255)">System</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter the System"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="system"
            id="asset-system"
            placeholder="System"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="priority"
          ><span style="color: rgb(0, 102, 255)">Priority</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter the Priority"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="priority"
            id="asset-priority"
            placeholder="Priority"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="priority"
          ><span style="color: rgb(0, 102, 255)">Status</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter the Status"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="status"
            id="asset-priority"
            placeholder="Status"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="model"
          ><span style="color: rgb(0, 102, 255)">Model</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter the Model"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="model"
            id="asset-model"
            placeholder="Model"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="make"
          ><span style="color: rgb(0, 102, 255)">Make</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter the Make"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="make"
            id="asset-model"
            placeholder="Make"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="price"
          ><span style="color: rgb(0, 102, 255)"
            >Price (in Dollar)</span
          ></nz-form-label
        >
        <nz-form-control
          [nzSm]="14"
          [nzXs]="24"
          nzErrorTip="Please Enter the Asset Price!"
        >
          <input
            formControlName="price"
            id="'price'"
            nz-input
            placeholder="Price in Dollars"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="14" [nzOffset]="6">
          <button nz-button nzType="primary" id="create-button">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>

    
    <div class="clearfix">
      <nz-upload nzAction="" nzListType="picture" [(nzFileList)]="fileList1">
        <button nz-button>
          <span nz-icon nzType="upload"></span>
          Upload an Image
        </button>
      </nz-upload>
    </div>
    <br />
    <div id="create-asset-file-upload" *ngIf="!isUpdateComponent">
      <h2>Create Assets By File</h2>
      <nz-form-label [nzSm]="6" [nzXs]="24"> Upload </nz-form-label>
      <nz-upload
        nzType="drag"
        [nzMultiple]="false"
        nzAction="http://localhost:8084/assets/csv/{{ userData.userId }}"
        (nzChange)="handleChange($event)"
      >
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">Click or drag file to this area to upload</p>
        <p class="ant-upload-hint">
          Please upload Files with extenstions .csv / .xslx
        </p>
      </nz-upload>
    </div>
  </div>
</div>
