<div id="create-asset-body">
  <div id="create-asset-form">
    <div style="display: flex; margin-left: -70px; margin-top: -70px">
      <div>
        <span
          ><img
            src="../../../assets/asset.png"
            width="45px"
            height="45px"
            style="margin-top: 8px"
        /></span>
      </div>
      <div style="margin-left: 19.5px">
        <span>
          <h2
            style="
              margin-top: -1px;
              color: rgba(38, 38, 202, 0.733);
              font-size: 20pt;
              font-weight: 700;
              margin-right: 0%;
            "
          >
            {{ asset }} an asset
          </h2>
          <h4 style="margin-top: -17px; margin-left: -50.5%">
            {{ asset1 }} assets!
          </h4></span
        >
      </div>
    </div>

    <form
      class
      nz-form
      [formGroup]="validateForm"
      nzLayout="vertical"
      (ngSubmit)="submitForm()"
    >
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="name">
          <span style="color: rgb(0, 102, 255)">What is the Asset Name?</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter  Valid Asset Name"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="name"
            id="asset-name"
            placeholder="Asset Name"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="code">
          <span style="color: rgb(0, 102, 255)"
            >Assign a code to the asset</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Asset Code"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="code"
            id="asset-name"
            placeholder="Asset Code"
          />
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="description" nzRequired
          ><span style="color: rgb(0, 102, 255)">Describe about the asset</span>
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter the Description!"
        >
          <input
            nz-input
            id="description"
            formControlName="description"
            placeholder="Description"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="status" nzRequired
          ><span style="color: rgb(0, 102, 255)"
            >What is the status of the asset?</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter the Status"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="status"
            id="asset-priority"
            placeholder="Status"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="18" [nzXs]="24" nzFor="facilityCode" nzRequired
          ><span style="color: rgb(0, 102, 255)"
            >Which facility does this asset belongs to?
          </span></nz-form-label
        >
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Select Valid Facility Name"
        >
          <nz-select
            nz-input
            formControlName="facilityCode"
            id="facilityCode"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Facility"
            style="text-align: left"
            [ngModel]="''"
            (ngModelChange)="getLocationBycode($event)"
          >
            <nz-option
              *ngFor="let facility of facilities"
              [nzLabel]="facility.facilityName"
              [nzValue]="facility.facilityCode"
              >{{ facility }}</nz-option
            >
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" nzRequired [nzXs]="24">
          <span style="color: rgb(0, 102, 255)"
            >Where is this asset located?</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Location"
        >
          <nz-select
            id="location"
            formControlName="location"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Location"
            style="text-align: left"
            [ngModel]="''"
            (ngModelChange)="getAllBuilding($event)"
          >
            <nz-option
              *ngFor="let location of locations"
              [nzLabel]="location.name"
              [nzValue]="location.id"
              >{{ location }}</nz-option
            >
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="building">
          <span style="color: rgb(0, 102, 255)"
            >Select an appropriate building</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Building"
        >
          <nz-select
            nz-input
            formControlName="building"
            id="building"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a building"
            style="text-align: left"
            [ngModel]="''"
            (ngModelChange)="getAllFloor($event)"
          >
            <nz-option
              *ngFor="let building of buildings"
              [nzLabel]="building.name"
              [nzValue]="building.id"
              >{{ building }}</nz-option
            >
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="location">
          <span style="color: rgb(0, 102, 255)"
            >Select an appropriate floor</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Floor"
        >
          <nz-select
            nz-input
            formControlName="floor"
            id="floor"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a floor"
            style="text-align: left"
            [ngModel]="' '"
            (ngModelChange)="getAllRoomAndArea($event)"
          >
            <nz-option
              *ngFor="let floor of floors"
              [nzLabel]="floor.name"
              [nzValue]="floor.id"
              >{{ floor }}</nz-option
            >
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzRequired nzFor="location">
          <span style="color: rgb(0, 102, 255)"
            >Select an appropriate area or room</span
          >
        </nz-form-label>
        <nz-form-control [nzSm]="20" [nzXs]="24">
          <nz-input-group nzCompact>
            <nz-select
              [ngModel]="'Sign Up'"
              formControlName="raname"
              [ngModel]="' '"
              style="text-align: left"
              (ngModelChange)="getOptions($event)"
            >
              <nz-option [nzLabel]="'Area'" [nzValue]="'Area'"></nz-option>
              <nz-option [nzLabel]="'Room'" [nzValue]="'Room'"></nz-option>
            </nz-select>
          </nz-input-group>
        </nz-form-control>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="select the area/room"
        >
          <nz-select
            nz-input
            formControlName="arname"
            id="floor"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Area/Room"
            style="text-align: left"
          >
            <nz-option
              *ngFor="let arname of options"
              [nzLabel]="arname.name"
              [nzValue]="arname.id"
              [ngModel]="''"
              (ngModelChange)="getId($event)"
              >{{ arname }}</nz-option
            >
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="serialNo">
          <span style="color: rgb(0, 102, 255)"
            >Provide the serial No if any</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter Valid Serial No"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="serialNo"
            id="asset-name"
            placeholder="Serial No"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="14"
          [nzXs]="24"
          style="color: #3253dc"
          nzFor="category"
        >
          <span style="color: rgb(0, 102, 255)"
            >Select a category of the asset</span
          ></nz-form-label
        >
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Select a Category"
        >
          <nz-select
            nz-input
            formControlName="category"
            id="category"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Category"
            style="text-align: left"
          >
            <nz-option
              *ngFor="let category of categories"
              [nzLabel]="category.name + ' (' + category.value + ')'"
              [nzValue]="category.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label
          [nzSm]="14"
          [nzXs]="24"
          style="color: rgb(0, 102, 255)"
          nzFor="department"
        >
          <span style="color: rgb(0, 102, 255)"
            >Select a asset department</span
          ></nz-form-label
        >
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Select a Department"
        >
          <nz-select
            nz-input
            formControlName="department"
            id="department"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Department"
            style="text-align: left"
          >
            <nz-option
              *ngFor="let Department of departments"
              [nzLabel]="Department.name"
              [nzValue]="Department.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="supplier">
          <span style="color: rgb(0, 102, 255)"
            >Provide the supplier name</span
          ></nz-form-label
        >
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Select a Supplier"
        >
          <nz-select
            nz-input
            formControlName="supplier"
            id="supplier"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a Supplier"
            style="text-align: left"
          >
            <nz-option
              *ngFor="let Supplier of suppliers"
              [nzLabel]="Supplier.name"
              [nzValue]="Supplier.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="18" [nzXs]="24" nzFor="subAsset">
          <span style="color: rgb(0, 102, 255)"
            >Is this sub asset of any existing assets?</span
          ></nz-form-label
        >
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Select a subAsset"
        >
          <nz-select
            nz-input
            formControlName="subAsset"
            id="supplier"
            nzShowSearch
            nzAllowClear
            nzPlaceHolder="Select a subAsset"
            style="text-align: left"
          >
            <nz-option
              *ngFor="let asset of assetList"
              [nzLabel]="asset.name + ' (' + asset.id + ')'"
              [nzValue]="asset.id"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="system"
          ><span style="color: rgb(0, 102, 255)"
            >Provide system details if any</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter the System"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="system"
            id="asset-system"
            placeholder="System"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="priority"
          ><span style="color: rgb(0, 102, 255)"
            >Select an appropriate priority</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter the Priority"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="priority"
            id="asset-priority"
            placeholder="Priority"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="model"
          ><span style="color: rgb(0, 102, 255)"
            >What is the model of the asset?</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter the Model"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="model"
            id="asset-model"
            placeholder="Model"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="14" [nzXs]="24" nzFor="make"
          ><span style="color: rgb(0, 102, 255)"
            >What is the make of the asset?</span
          >
        </nz-form-label>
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter the Make"
        >
          <input
            style="border-radius: 10px"
            nz-input
            formControlName="make"
            id="asset-model"
            placeholder="Make"
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSm]="24" [nzXs]="24" nzFor="price"
          ><span style="color: rgb(0, 102, 255)"
            >What is the estimated Price (in Dollar) of the asset?</span
          ></nz-form-label
        >
        <nz-form-control
          [nzSm]="20"
          [nzXs]="24"
          nzErrorTip="Please Enter the Asset Price!"
        >
          <input
            formControlName="price"
            id="'price'"
            nz-input
            placeholder="Price in Dollars"
          />
        </nz-form-control>
      </nz-form-item>

      <div>
        <nz-form-item id="upload-view">
          <nz-form-control nzErrorTip="Please Add an Attachment">
            <input
              formControlName="file"
              type="file"
              placeholder="file"
              (change)="handleChange1($event)"
            />
          </nz-form-control>
        </nz-form-item>
      </div>

      <nz-form-item nz-row class="register-area">
        <nz-form-control [nzSpan]="20" [nzOffset]="6">
          <button nz-button nzType="primary" id="create-button">Submit</button>
        </nz-form-control>
      </nz-form-item>
    </form>

    <div id="create-asset-file-upload" *ngIf="!isUpdateComponent">
      <h2>Create Assets By File</h2>
      <nz-form-label [nzSm]="14" [nzXs]="24"> Mass upload assets</nz-form-label>
      <nz-upload
        nzType="drag"
        [nzMultiple]="false"
        nzAction="http://localhost:8084/assets/csv/{{ userData.userId }}"
        (nzChange)="handleChange($event)"
      >
        <p class="ant-upload-drag-icon">
          <span nz-icon nzType="inbox"></span>
        </p>
        <p class="ant-upload-text">Click or drag file to this area to upload</p>
        <p class="ant-upload-hint">
          Please upload Files with extenstions .csv / .xslx
        </p>
      </nz-upload>
    </div>
  </div>
</div>
