<form nz-form [formGroup]="validateForm"  (ngSubmit)="submitForm()" *ngIf="!flo">
    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24"  nzRequired>Building Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24"  nzErrorTip="Please Enter  Valid Building Name">
        <input nz-input formControlName="name" placeholder="name" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="14" [nzXs]="24"  nzRequired>Location Name</nz-form-label>
      <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please Enter  Valid Location Name">
        <input nz-input value="{{locationName}}" [disabled]="true" placeholder="locationName" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzOffset]="7" [nzSpan]="12">
          <button nz-button nzType="primary">Submit</button>
        </nz-form-control>
      </nz-form-item>
  </form>
  <div *ngIf="flo">
    <app-building-list></app-building-list>
  </div>