<div id="create-asset-body" >
  <div id="create-asset-form">
    <div style="display: flex; margin-left: 48px; margin-top: -10px">
      <div>
        <span
          ><img
            src="../../../assets/asset.png"
            width="45px"
            height="45px"
            style="margin-top: 8px"
        /></span>
      </div>
      <div style="margin-left: 25px">
        <span>
          <h2
            style="
              margin-top: -1px;
              color: rgba(38, 38, 202, 0.733);
              font-size: 20pt;
              font-weight: 700;
              margin-right: -10px;
            "
          >
           Preview Asset
          </h2>
          <h4 style="margin-top: -17px; margin-right: 5%; margin-bottom: 20%;">
          This is an preview asset
        </h4 ></span>
      </div>
    </div>
<div id="flex">
    <div>
      <form nz-form nzLayout="vertical" style="width: 1200%">
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5">
            <span style="color: rgb(0, 102, 255)">What is the Asset Name?</span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.name }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)"
              >Assign a code to the asset
            </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.code }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)"
              >Serial No
            </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.serialNo }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)"
              >Describe about the asset
            </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.description }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)"
              >Which facility does this asset belongs to?
            </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.name }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">Where is this asset located? </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.location.facilityCode }}" />
          </nz-form-control>
        </nz-form-item>
        <!-- <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">Select an appropriate building </span></nz-form-label
          >
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ asset.building }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">Select an appropriate floor </span></nz-form-label
          >
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ asset.floors }}" />
          </nz-form-control>
        </nz-form-item> -->
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)"
              >Select an appropriate area or room
            </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.area }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">Select a category of the asset </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.category }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)"
              >Select a asset department
            </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.department }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)"
              >Is this sub asset of any existing assets?
            </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.subAsset }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">Provide system details if any </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.system }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">Provide the supplier name </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.supplier }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">What is the status of the asset? </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.status }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">Select an appropriate priority </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.priority }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">What is the make of the asset? </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.make }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="14" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)">What is the model of the asset? </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.model }}" />
          </nz-form-control>
        </nz-form-item>
  
        <nz-form-item>
          <nz-form-label [nzSm]="19" [nzXs]="24" [nzSpan]="5"
            ><span style="color: rgb(0, 102, 255)"
              >What is the estimated Price (in Dollar) of the asset?
            </span></nz-form-label
          >
          <nz-form-control [nzSpan]="19">
            <input nz-input value="{{ asset.price }}" />
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  
    <div style="width: 80%; margin-left: 40%; margin-top: 20%">
      <img
        [src]="imageToShow" [alt]="'NO IMAGE FOUND'" 
        style="width: 70%; border: 1px solid; border-color: rgb(55, 83, 239)"
      />
    </div>
  </div>
