<nz-collapse [nzBordered]="false">
    <nz-collapse-panel
      #p
      *ngFor="let panel of panels; let isFirst = first"
      [nzHeader]="panel.name" 
      [nzActive]="panel.active"
      [ngStyle]="panel.customStyle"
      [nzExpandedIcon]="!isFirst ? panel.icon || expandedIcon : undefined"
    >
      <p>
        <nz-table #nestedTable [nzData]="searchResults" [nzPageSize]="10">
            <thead>
                <tr>
                    <th *ngFor="let column of areaColumns" [nzSortOrder]="column.sortOrder" [nzSortFn]="column.sortFn"
                        [nzSortDirections]="column.sortDirections">
                        {{ column.name }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <ng-template ngFor let-data [ngForOf]="nestedTable.data">
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.name }}</td>
                        <td>
                            <!-- <button nz-button>
                                <span nz-icon nzType="delete" nzTheme="twotone" [nzTwotoneColor]="'red'" nz-tooltip
                                    [nzTooltipTitle]="'Delete Area'" [nzTooltipColor]="'red'" nz-popconfirm
                                    nzPopconfirmTitle="Proceed to update?"
                                    (nzOnConfirm)="handleDeleteLocation(data.id)">
                                </span>
                            </button> -->
        </tr>
        </ng-template>
        </tbody>
        </nz-table>
        
      </p>
      <ng-template #expandedIcon let-active>
        {{ active }}

        <span nz-icon nzType="plus" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></span>
      </ng-template>
    </nz-collapse-panel>
  </nz-collapse>

  <button nz-button nzType="primary" (click)="done($event)">Done</button>
