<div id="flex">
    <div>
      <form nz-form style="width: 1200%">
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="5"> <span style="color: rgb(0, 102, 255);">Inventory Id</span></nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ inventory.id }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="5"><span style="color: rgb(0, 102, 255);">Inventory Name</span></nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ inventory.name }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="5"><span style="color: rgb(0, 102, 255);">Inventory Code</span></nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ inventory.code}}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="5"><span style="color: rgb(0, 102, 255);">Description</span></nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ inventory.description}}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" [nzSpan]="5"><span style="color: rgb(0, 102, 255);">Quantity</span></nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ inventory.quantity }}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24"  [nzSpan]="5"><span style="color: rgb(0, 102, 255);">Price</span></nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ inventory.price}}" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24"[nzSpan]="5"><span style="color: rgb(0, 102, 255);">Status</span></nz-form-label>
          <nz-form-control [nzSpan]="12">
            <input nz-input value="{{ inventory.status}}" />
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>
  
    <div style="width: 80%; margin-left:40% ; margin-top:20%; ">
      <img [src]="imageToShow" [alt]="'NO IMAGE FOUND'"  style="width: 70%;  border:1px solid;border-color: rgb(55, 83, 239)" />
    </div>
  </div>